@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}
.home__banner{
  @apply py-12 md:py-10 bg-[#f9f6f0] relative text-center overflow-hidden bg-cover bg-no-repeat bg-center;

}
.home__banner::after{
  background-image: url("./shape-white.png");
}
.home__banner::before{
  @apply bottom-auto top-0;
  background-image: url("./shape-grey.png");
  transform: scaleY(-1);
}
.home__banner::before, .home__banner::after{
  @apply absolute bottom-0 left-0 w-full h-4;
  content: "";
  background-repeat: repeat no-repeat;
  background-position: bottom;
}
.home__banner-img{
  transform: scale(1.1) translate(20px, 40px);
}
.home__banner-icon { animation: scaleUp 1s linear infinite alternate; }

.footer-top{
  @apply py-36 md:py-32;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  border-block-end: 2px solid hsla(245, 17%, 29%, 0.3);
}
.footer-top::after {
  content: url("./delivery-boy.svg");
  position: absolute;
  bottom: -11px;
  left: -160px;
  width: 160px;
  animation: running-cycle 20s linear infinite;
}
.footer-list-title{
  @apply text-lg font-bold relative w-max;
}
.footer-list-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 15px);
  background-color: hsl(32, 100%, 59%);
  width: 40px;
  height: 4px;
  border-inline-end: 5px solid hsl(32, 100%, 59%);
  box-shadow: inset -5px 0 0 #fff;
}
  @keyframes scaleUp {
    0% { transform: scale(1);}
    100% { transform: scale(1.05); }
  }
  @keyframes running-cycle {
    0% { left: -160px; }
    100% { left: 100%; }
  }